.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.underline { text-decoration: underline; }

.black { color: black; }
.red { color: #FF0000; }
.green { color: #00ff00; }
.yellow { color: yellow; }
.cyan { color: cyan; }
.blue { color: #00a8ff; }
.magenta { color: magenta; }
.white { color: white; }

.bg-black { background-color: black; }
.bg-red { background-color: #FF0000; }
.bg-green { background-color: #00ff00; }
.bg-yellow { background-color: yellow; }
.bg-cyan { background-color: cyan; }
.bg-blue { background-color: blue; }
.bg-magenta { background-color: magenta; }
.bg-white { background-color: white; }

.terminal {
  background-color: #000000;
  color: #FFF;
  font-family: 'Roboto Mono', monospace;
}
